%div.image
	%img{:src => "/images/logo.png"}
%div.content
	%h2 Rodco S.A. es la empresa costarricense que durante más de 15 anos, ha traído los mejores productos a la industria de la construccion
	%h3 >+506 220 40 99 66
