%div.image
	%img{:src => "/images/logo.png"}
%div.content
	.slogan Rodco S.A. es la empresa costarricense que durante más de 15 anos, comercializa los mejores productos para la industria de la construccion
	.contact >+506 220 40 99 66
