%div.image
	%img{:src => "/images/logo.png"}
%div.content
	.slogan Rodco S.A. es una empresa costarricense con mas de 20 anos importando y distribuyendo solo marcas de calidad
	.contact >+506 220 40 99 66
