%li
	%a{ :href => "/"} Inicio
%li
	%a{ :href => "/pedidos"} Pedidos
%li
	%a{ :href => "/corporativo"} Corporativo
%li
	%a{ :href => "/catalogo"} Catalogo
%li
	%a{ :href => "/enLinea"} En Linea
%li.last
	%a{ :href => "/contacto"} Contacto