.contentBox
	%h2.title Catalogo
	%ul.bigGrid
		%li.metalmecanica
			%h3 Metalmecanica
			%ul
				%li
					%a{:href=> "#"} temp link
						
		%li.electrico
			%h3 Electrico
			%ul
				%li
					%a{:href=> "#"} temp link

		%li.cerrajeria
			%h3 Cerrajeria
			%ul
				%li
					%a{:href=> "#"} temp link
						
						
						
		%li.ferreteria
			%h3 Ferreteria
			%ul
				%li
					%a{:href=> "#"} temp link
						
						
		%li.maderas
			%h3 Maderas
			%ul
				%li
					%a{:href=> "#"} temp link