.contentBox
	.title Catalogo
	%ul.bigGrid
		%li.metalmecanica
			%h3 Metalmecanica
			%ul
				%li
					%a{:href=> "#"} Soldadura Hilco
					%a{:href=> "#"} Soldaduras Especiales
					%a{:href=> "#"} Maquinas de Soldar Hilco
					%a{:href=> "#"} Discos de Corte y Esmerilar
					%a{:href=> "#"} Segueta B-Metal
					
					
						
		%li.electrico
			%h3 Electrico
			%ul
				%li
					%a{:href=> "#"} Cable Electrico THHN
					%a{:href=> "#"} Cable Electrico Neutracen
					%a{:href=> "#"} Cajas de Breakers y Breakers
					%a{:href=> "#"} Cable Electrico Neutracen

		%li.cerrajeria
			%h3 Cerrajeria
			%ul
				%li
					%a{:href=> "#"} Candados Yale
					%a{:href=> "#"} Cerraduras Yale
					%a{:href=> "#"} Llavines Yale
					%a{:href=> "#"} Llavines Cedex y Vera
						
		%li.ferreteria
			%h3 Ferreteria
			%ul
				%li
					%a{:href=> "#"} Marcos para Segeuta
					%a{:href=> "#"} Cintas Metricas
					%a{:href=> "#"} Cable Electrico Neutracen
		
						
						
		%li.maderas
			%h3 Maderas
			%ul
				%li
					%a{:href=> "#"} Plywood de Pino y Corriente
					%a{:href=> "#"} Melamina
					%a{:href=> "#"} Fibram
					