.contentBox
	%h2.title Corporativo
	.colHolder
		.col2
			%h3.title Quienes Somos
		.col2
			%img{:src => "/images/logo.png",:height=>"179",:width=>"448"}
			%img{:src => "/images/logo.png",:height=>"179",:width=>"213",}
			%img{:src => "/images/logo.png",:height=>"179",:width=>"213",}
	.contentFooter
		.button
			%a{:href=>"#"} Ir Arriba