.contentBox.corporativo
	.title Corporativo
	.layout_half
		.col
			.subTitle Quienes Somos
			%p Contamos con mas de 15 años en el mercado, 400 clientes en todo el territorio nacional y una cartera de 500 productos de las mas alta calidad importados directamente desde Europa, Centro-Sur America y Asia;
			%p Somos Distrubuidores Autorizados y exclusivo en alguno casos de las lineas mas importantes del mercado de la construccion como Soldadura Hilco, Cerraduras y Candados Yale, Cable Electrico Condusal, Griferia Plomer y Coflex.
			%p Hemos descubierto nuevos productos de alta calidad en Asia y la Union Europea como Plywood de Pino, Tuberia EMT, Cintas Metricas, y articulos de seguridad.
			%p Somos una empresa familiar que utiliza los avances en tecnologia para posicionar nuestras lineas en los mejores puntos de venta del pais incluyendo Abonos Agro, Epa, El Lagar, El Colono; asi como los mejores centros ferreteros del pais como Ferjuca, Almacene La Carreta,
			  
		.col
			%img{:src => "/images/logo.png",:height=>"179",:width=>"448"}
			%img{:src => "/images/logo.png",:height=>"179",:width=>"213",}
			%img{:src => "/images/logo.png",:height=>"179",:width=>"213",}
			
	.contentFooter
		.button
			%a{:href=>"#"} Ir Arriba

.contentBox.corporativo
	.title Conozca mas sobre nuestro negocio
	%p Aqui periodicamente informacion sobre nuestros clientes y nuestros productos