.contentBox
	.title En Linea
	%img{:src =>"/images/enLinea_header.png"}
	.layout_half
		.col.enLineaInfo
			%p Estaremos lanzando una gama de servicios en l&iacute;nea con el fin de satisfacer de la mejor manera las necesidades de nuestros consumidoresdurante los primeros meses del a&ntilde;o 2011. Muy Pronto los estaremos haciendo disponibles.
		.col
			%ul.simpleList
				%li
					%a{:href=>"#"} Ayudenos a Mejorar
				%li
					%a{:href=>"#"} Buzon de Credito
				%li
					%a{:href=>"#"} Estados de Cuenta
				%li
					%a{:href=>"#"} Buzon de Ventas
				%li
					%a{:href=>"#"} Pedidos en Linea
				%li
					%a{:href=>"#"} Buzon del Gerente
	.notification
		%p Mientras tanto, lo invitamos a utilizar las diferentes formas de contacto para solicitar cualquier informaci&oacute;n que necesite directamente con uno de nuestros encargados.
	.contentFooter
		.button
			%a{:href=>"#"} Ir Arriba