.contentBox
	%h2.title Marcas
	%img{:src =>"/images/marca_hilco.jpg"}
	%img{:src =>"/images/marca_cable.jpg"}
	%img{:src =>"/images/marca_yale.jpg"}
	%img{:src =>"/images/slider_marca_coflex.jpg"}
	%img{:src =>"/images/slider_marca_corbin.jpg"}
	%img{:src =>"/images/slider_marca_ciles.jpg"}
	%h3.title Todas nuestras marcas
	.colHolder
		.col3
			%img{:src =>"/images/marca_hilco.png"}
			%img{:src =>"/images/marca_bmetal.png"}
			%img{:src =>"/images/marca_ciles.png"}
			%img{:src =>"/images/marca_cedex.png"}
		.col3
			%img{:src =>"/images/marca_yale.png"}
			%img{:src =>"/images/marca_plomer.png"}
			%img{:src =>"/images/marca_lion.png"}
			%img{:src =>"/images/marca_coflex.png"}
		.col3
			%img{:src =>"/images/marca_condusal.png"}
			%img{:src =>"/images/marca_corbin.png"}
			%img{:src =>"/images/marca_vera.png"}
	.contentFooter
		.button
			%a{:href=>"#"} Ir Arriba