.contentBox

	#login
		%img{:src=>"/images/ajax-loader.gif",:align =>"left"}
		.title Envie sus Pedidos En Linea
		.info 
			%a{:href=>"/contacto"} Contactenos para solicitar su clave
		%h3 Usuario
		%input{:id=>"txt_username",:type=>"text",:title=>"Email"}
		%h3 Clave
		%input{:id=>"txt_password",:type=>"password"}
		%h3 Token
		%input{:id=>"txt_token",:type=>"text",:title=>"Token"}
 
		.contentFooter
			.button
				%a{:id=>"btn_login",:onclick=>"btnLogin_handleClick();"} Login
	#loading
		%img{:src=>"/images/ajax-loader.gif",:align =>"left"}
		%h2.title Actualizando el Sistema
		%h3 Por favor espere mientras descargamos la informacion de inventarios
		
	#selectCliente
		%h2.title Sistema de Ingreso de Pedidos
		.info <strong>Primer Paso: <strong/> Escoja el Nombre del Cliente
		%input{:value=>"",:onchange=>"doSearchClientes()",:id=>"txt_searchCliente",:type=>"text",:title=>"escriba el nombre"}
		%ul#clientesList

	#doOpp
		%h2.title Crear Oportunidad
		.info Incluya todos los detalles que considere importantes
		%input{:value=>"",:id=>"txt_oppObservacion",:type=>"text",:title=>"Observaciones",:size=>"20"}
		.contentFooter
			#totalPlaceHolder
			#btnSave.button.right
				%a{:href=>"#opp_save/"} Guardar
			#btnRestart.button.right.margin
				%a{:href=>"#pedido_show/"} Cancelar
	
	#doPedido
		%h2.title
		.info Sistema de ingreso de pedidos, escoja el producto, ingrese la cantidad y de click en el nombre.
		.layout_third
			.left
				%input{:value=>"",:onchange=>"doSearchProductos()",:id=>"txt_searchProducto",:type=>"text",:title=>"Escriba el nombre",:size=>"14"}
				%ul#productosList
		
			.center
				.subTitle Productos del Pedido
				%ul#selectedProductosList
		
			.right
				dsf ds
	
		.contentFooter
			#totalPlaceHolder
			#btnSave.button.right
				%a{:href=>"#pedido_save/"} Guardar
			#btnRestart.button.right.margin
				%a{:href=>"#pedido_new/"} Cancelar

	#listPedido
		%img{:src=>"/images/ajax-loader.gif",:align =>"left",:id=>"ajaxLoader"}
		%h2.title Lista de Pedidos
		.info Los pedidos aqui mostrados no han sido enviados al servidor.
		
		%ul#pedidosList
		
		.contentFooter
			#totalPlaceHolder
			.button.right
				%a{:href=>"#pedido_send/"} Enviar
			.button.right.margin
				%a{:href=>"#pedido_new/"} Pedido
			.button.right.margin
				%a{:href=>"#pedido_new/"} Opportunidad

-['sammy', 'sammy.json', 'sammy.storage', 'sammy.template','/pedido/view','/pedido/app'].each do |js|
	%script{:src => "/js/#{js}.js", :type => 'text/javascript', :charset => 'utf-8'}
		