.contentBox

	#login
		%h2.title Login al Sistema
		%h3 Ingrese al sistema con sus credenciales
		%h4.label Usuario 
		%input{:value=>"integration@rodcocr.com.test",:id=>"txt_username",:type=>"text"}
		%h4.label Clave
		%input{:value=>"company1",:id=>"txt_password",:type=>"password"}
		%h4.label Seguridad
		%input{:value=>"bYd3nuKDhYuUYOuJA0Di7clmi",:id=>"txt_token",:type=>"text"}
		%h5 
			%a{:href=>"/help?tag=security"} como obtener el token?
		%a.button{:href=>"#",:id=>"btn_login"} Login
	#loading
		%img{:src=>"/images/ajax-loader.gif",:align =>"left"}
		%h2.title Actualizando el Sistema
		%h3 Por favor espere mientras descargamos la informacion de inventarios
		
	#selectCliente
		%h2.title Sistema de Ingreso de Pedidos
		.info <strong>Primer Paso: <strong/> Escoja el Nombre del Cliente
		%input{:value=>"",:onchange=>"doSearchClientes()",:id=>"txt_searchCliente",:type=>"text",:title=>"escriba el nombre"}
		%ul#clientesList

	#doPedido
		%h2.title
		.info Sistema de ingreso de pedidos, escoja el producto, ingrese la cantidad y de click en el nombre.
		.layout_third
			.left
				%input{:value=>"",:onchange=>"doSearchProductos()",:id=>"txt_searchProducto",:type=>"text",:title=>"Escriba el nombre",:size=>"14"}
				%ul#productosList
		
			.center
				.subTitle Productos del Pedido
				%ul#selectedProductosList
		
			.right
				dsf ds
	
		.contentFooter
			#totalPlaceHolder
			#btnSave.button.right
				%a Guardar
			#btnRestart.button.right
				%a Cancelar

	#listPedido
		%h2.title Lista de Pedidos
		.info
			%a{:href=>"#selectCliente"} Pedido Nuevo
		%ul#pedidosList

-['sammy', 'sammy.json', 'sammy.storage', 'sammy.template','pedidos'].each do |js|
	%script{:src => "/js/#{js}.js", :type => 'text/javascript', :charset => 'utf-8'}
		