/* line 14, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, ../../sass/_buttons.sass */
.button {
  margin-top: 5px;
  background-color: white;
  width: 100px;
  border-bottom: 4px #a82d2d solid;
  text-align: center;
}
/* line 7, ../../sass/_buttons.sass */
.button a {
  padding-left: 8px;
  padding-top: 7px;
  padding-bottom: 4px;
  color: white;
  background-color: #a82d2d;
  margin-bottom: 4px;
  display: block;
  text-decoration: none;
}
/* line 16, ../../sass/_buttons.sass */
.button.right {
  float: right;
}
/* line 18, ../../sass/_buttons.sass */
.button.margin {
  margin-right: 10px;
}

/* line 1, ../../sass/_styles.sass */
.title {
  color: #393a3a;
  font-family: "Cabin", Arial;
  font-size: 38px;
  border-bottom: 9px solid #a82d2d;
  margin-bottom: 5px;
}

/* line 8, ../../sass/_styles.sass */
.subTitle {
  margin-top: 10px;
  color: #666666;
  font-family: "Cabin", Arial;
  font-size: 25px;
  border-bottom: 5px solid #999999;
  margin-bottom: 5px;
}

/* line 16, ../../sass/_styles.sass */
.section {
  color: white;
  font-family: "Cabin", Arial;
  font-size: 20px;
  border-bottom: 4px solid #a82d2d;
  background-color: #18456d;
  margin-bottom: 5px;
  padding: 5px;
}

/* line 25, ../../sass/_styles.sass */
.heading {
  border-bottom: 1px dotted #afafaf;
  margin-bottom: 10px;
}
/* line 28, ../../sass/_styles.sass */
.heading h4 {
  color: #a82d2d;
  padding-bottom: 5px;
}

/* line 32, ../../sass/_styles.sass */
.info {
  border-bottom: 2px dotted #efefef;
  border-top: 2px dotted #efefef;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 41, ../../sass/_styles.sass */
.breadcrum {
  margin-top: 10px;
  color: #666666;
  font-family: "Cabin", Arial;
  font-size: 25px;
  border-bottom: 2px solid #999999;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
/* line 49, ../../sass/_styles.sass */
.breadcrum a {
  color: #18456d;
  display: inline;
}

/* line 53, ../../sass/_styles.sass */
p {
  margin-bottom: 10px;
  font-size: 13px;
  font-family: Verdana;
}

/* line 1, ../../sass/_forms.sass */
label {
  font-weight: bold;
}

/* line 3, ../../sass/_forms.sass */
fieldset {
  padding: 1.4em;
  margin-top: 8px;
}

/* line 6, ../../sass/_forms.sass */
legend {
  font-weight: bold;
  font-size: 1.2em;
}

/* line 10, ../../sass/_forms.sass */
input.text, input.title, input[type=email], input[type=text], input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 18, ../../sass/_forms.sass */
input.title {
  font-size: 1.5em;
}
/* line 20, ../../sass/_forms.sass */
input[type=checkbox], input.checkbox, input[type=radio], input.radio {
  position: relative;
  top: 0.25em;
}

/* line 26, ../../sass/_forms.sass */
textarea {
  margin: 0.5em 0;
  padding: 5px;
}

/* line 29, ../../sass/_forms.sass */
select {
  margin: 0.5em 0;
}

/* line 33, ../../sass/_forms.sass */
input.text, input.title, input[type=email], input[type=text], input[type=password], textarea, select {
  height: 30px;
  margin-top: 1px;
  color: #18456d;
  font-size: 20px;
  padding-left: 8px;
  background-color: #efefef;
  border: none;
  border-bottom: #18456d 3px solid;
  -webkit-border-radius: 2px 3px;
  -moz-border-radius: 2px 5px / 3px 6px;
  -o-border-radius: 2px 5px / 3px 6px;
  -ms-border-radius: 2px 5px / 3px 6px;
  -khtml-border-radius: 2px 5px / 3px 6px;
  border-radius: 2px 5px / 3px 6px;
}
/* line 43, ../../sass/_forms.sass */
input.text:focus, input.title:focus, input[type=email]:focus, input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus {
  border-bottom: 2px solid #a82d2d;
}

/* line 45, ../../sass/_forms.sass */
textarea {
  height: auto;
}

/* line 48, ../../sass/_forms.sass */
.selectionBox {
  height: 18px;
}

/* line 4, ../../sass/modules/_nav.sass */
#nav li {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 154px;
  margin-left: 0;
  margin-right: 0;
  margin-right: 2px;
  text-align: center;
  height: 35px;
  padding-bottom: 5px;
  margin-bottom: 3px;
  background-color: white;
  border-bottom: 4px #18456d solid;
}
/* line 16, ../../sass/modules/_nav.sass */
#nav li.last {
  margin-right: 0px;
}
/* line 18, ../../sass/modules/_nav.sass */
#nav li a {
  text-align: center;
  color: white;
  background-color: #18456d;
  padding-top: 13px;
  padding-bottom: 10px;
  display: block;
  margin-bottom: 2px;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 28, ../../sass/modules/_nav.sass */
#nav li a:hover {
  background-color: #a82d2d;
}

/* line 32, ../../sass/modules/_nav.sass */
#smallnav li {
  margin-top: 40px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-left: 0;
  margin-right: 0;
  margin-right: 7px;
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 3px;
  color: #3c6b8e;
}
/* line 42, ../../sass/modules/_nav.sass */
#smallnav li a {
  text-align: center;
  color: #3c6b8e;
  font-size: 10px;
  background-color: #18456d;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  border-right: 1px #3c6b8e solid;
  padding-right: 6px;
}
/* line 52, ../../sass/modules/_nav.sass */
#smallnav li.last {
  display: none;
}

/* line 2, ../../sass/modules/_header.sass */
#header div.image {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 380px;
  margin-top: 15px;
}
/* line 5, ../../sass/modules/_header.sass */
#header div.content {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 380px;
}
/* line 7, ../../sass/modules/_header.sass */
#header div.content .slogan {
  margin-top: 45px;
  font-family: "Cabin", Arial;
  font-weight: 400;
  font-size: 19px;
  color: #393a3a;
  margin-left: 20px;
  width: 500px;
  letter-spacing: 0.2em;
}
/* line 16, ../../sass/modules/_header.sass */
#header div.content .contact {
  color: #393a3a;
  font-family: "Cabin", Arial;
  font-size: 20px;
  margin-top: 10px;
  border-top: 1px solid #393a3a;
  border-bottom: 1px solid #393a3a;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: 400;
  margin-left: 20px;
  width: 500px;
}

/* line 29, ../../sass/modules/_header.sass */
#header.small div.image {
  margin-top: 8px;
}
/* line 31, ../../sass/modules/_header.sass */
#header.small div.image img {
  width: 260px;
  height: 100px;
}
/* line 35, ../../sass/modules/_header.sass */
#header.small div.content .slogan {
  font-size: 15px;
  margin-top: 20px;
}
/* line 38, ../../sass/modules/_header.sass */
#header.small div.content .contact {
  font-size: 12px;
}

/* line 1, ../../sass/pageDetails/_catalogo.sass */
.bigGrid {
  margin-top: 20px;
}
/* line 3, ../../sass/pageDetails/_catalogo.sass */
.bigGrid > li {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 280px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 13px;
  height: 245px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #dcdcdc), color-stop(33.333%, #f8f8f8), color-stop(66.667%, #ffffff), color-stop(100%, #dcdcdc));
  background-image: -moz-linear-gradient(top, #dcdcdc 0%, #f8f8f8 33.333%, #ffffff 66.667%, #dcdcdc 100%);
  background-image: linear-gradient(top, #dcdcdc 0%, #f8f8f8 33.333%, #ffffff 66.667%, #dcdcdc 100%);
}
/* line 11, ../../sass/pageDetails/_catalogo.sass */
.bigGrid > li.last {
  margin-right: 0px;
}
/* line 14, ../../sass/pageDetails/_catalogo.sass */
.bigGrid > li > h3 {
  font-family: "Cabin", Arial;
  color: white;
  font-size: 25px;
  padding: 8px;
}
/* line 20, ../../sass/pageDetails/_catalogo.sass */
.bigGrid > li > a {
  padding: 10px;
  padding-top: 25px;
  height: 45px;
  font-family: "Cabin", Arial;
  color: white;
  text-decoration: none;
  display: block;
}
/* line 28, ../../sass/pageDetails/_catalogo.sass */
.bigGrid > li > ahover {
  color: #a82d2d;
}
/* line 32, ../../sass/pageDetails/_catalogo.sass */
.bigGrid li.metalmecanica {
  border-bottom: 7px solid #047d56;
}
/* line 34, ../../sass/pageDetails/_catalogo.sass */
.bigGrid li.metalmecanica h3 {
  background-color: #047d56;
}
/* line 37, ../../sass/pageDetails/_catalogo.sass */
.bigGrid li.electrico {
  border-bottom: 7px solid #c4262e;
}
/* line 39, ../../sass/pageDetails/_catalogo.sass */
.bigGrid li.electrico h3 {
  background-color: #c4262e;
}
/* line 43, ../../sass/pageDetails/_catalogo.sass */
.bigGrid li.cerrajeria {
  border-bottom: 7px solid #e2be42;
}
/* line 45, ../../sass/pageDetails/_catalogo.sass */
.bigGrid li.cerrajeria h3 {
  background-color: #e2be42;
}
/* line 49, ../../sass/pageDetails/_catalogo.sass */
.bigGrid li.ferreteria {
  border-bottom: 7px solid #005e81;
}
/* line 51, ../../sass/pageDetails/_catalogo.sass */
.bigGrid li.ferreteria h3 {
  background-color: #005e81;
}
/* line 54, ../../sass/pageDetails/_catalogo.sass */
.bigGrid li.maderas {
  border-bottom: 7px solid #4d3413;
}
/* line 56, ../../sass/pageDetails/_catalogo.sass */
.bigGrid li.maderas h3 {
  background-color: #4d3413;
}
/* line 59, ../../sass/pageDetails/_catalogo.sass */
.bigGrid ul {
  margin-top: 20px;
}
/* line 62, ../../sass/pageDetails/_catalogo.sass */
.bigGrid ul li a {
  color: #333333;
  text-decoration: none;
  margin-bottom: 7px;
  font-family: "Cabin", Arial;
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 13px;
}
/* line 71, ../../sass/pageDetails/_catalogo.sass */
.bigGrid ul li a:hover {
  background-color: #333333;
  color: white;
}

/* line 2, ../../sass/pageDetails/_enLinea.sass */
.enLineaInfo p {
  margin-top: 8px;
}

/* line 2, ../../sass/pageDetails/_corporativo.sass */
.images img {
  max-width: 440px;
  overflow: hidden;
  border: 3px solid #18456d;
  margin-bottom: 3px;
}
/* line 7, ../../sass/pageDetails/_corporativo.sass */
.images .adjust {
  margin-left: 2px;
}

/* line 3, ../../sass/pageDetails/_pedido.sass */
#totalPlaceHolder {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 180px;
  color: #18456d;
  font-size: 15px;
  margin-top: 6px;
}

/* line 10, ../../sass/pageDetails/_pedido.sass */
#clientesList {
  overflow: hidden;
  *zoom: 1;
  margin-top: 14px;
}
/* line 13, ../../sass/pageDetails/_pedido.sass */
#clientesList li {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 180px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #e9e9ea));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e9e9ea 100%);
  background-image: linear-gradient(top, #ffffff 0%, #e9e9ea 100%);
  height: 30px;
  border: #18456d;
  padding: 10px;
  border: 1px solid #333333;
  margin-bottom: 15px;
}
/* line 22, ../../sass/pageDetails/_pedido.sass */
#clientesList li a {
  font-size: 12px;
  color: #18456d;
  text-decoration: none;
}

/* line 27, ../../sass/pageDetails/_pedido.sass */
#productosList {
  overflow: hidden;
  *zoom: 1;
  margin-top: 9px;
}
/* line 30, ../../sass/pageDetails/_pedido.sass */
#productosList li {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #e9e9ea));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e9e9ea 100%);
  background-image: linear-gradient(top, #ffffff 0%, #e9e9ea 100%);
  padding: 6px;
  border: 1px solid #333333;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}
/* line 39, ../../sass/pageDetails/_pedido.sass */
#productosList li a {
  font-size: 12px;
  color: #18456d;
  text-decoration: none;
  display: block;
  margin-bottom: 4px;
}
/* line 45, ../../sass/pageDetails/_pedido.sass */
#productosList li .half {
  padding-top: 4px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;
  font-size: 11px;
  margin-left: 0;
}

/* line 53, ../../sass/pageDetails/_pedido.sass */
#selectedProductosList li {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #e9e9ea));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e9e9ea 100%);
  background-image: linear-gradient(top, #ffffff 0%, #e9e9ea 100%);
  padding: 6px;
  border: 1px solid #333333;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 61, ../../sass/pageDetails/_pedido.sass */
#selectedProductosList li h4 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 295px;
  font-size: 12px;
  color: #18456d;
  margin-top: 8px;
}
/* line 67, ../../sass/pageDetails/_pedido.sass */
#selectedProductosList li h5 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 36px;
  font-size: 12px;
  color: #18456d;
  margin-top: 8px;
  text-align: center;
  font-weight: bold;
}
/* line 75, ../../sass/pageDetails/_pedido.sass */
#selectedProductosList li input {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 36px;
  margin-right: 0;
}
/* line 79, ../../sass/pageDetails/_pedido.sass */
#selectedProductosList li h6 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  color: #18456d;
  margin-top: 8px;
  text-align: center;
  font-weight: bold;
  margin-left: 0;
  margin-right: 0;
}

/* line 90, ../../sass/pageDetails/_pedido.sass */
#pedidosList li {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #e9e9ea));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e9e9ea 100%);
  background-image: linear-gradient(top, #ffffff 0%, #e9e9ea 100%);
  padding: 6px;
  border: 1px solid #333333;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 98, ../../sass/pageDetails/_pedido.sass */
#pedidosList li h4 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 221px;
  font-size: 12px;
  color: #18456d;
  margin-top: 8px;
}
/* line 104, ../../sass/pageDetails/_pedido.sass */
#pedidosList li h5 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 101px;
  font-size: 12px;
  color: #18456d;
  margin-top: 8px;
  text-align: center;
  font-weight: bold;
}
/* line 112, ../../sass/pageDetails/_pedido.sass */
#pedidosList li h6 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  color: #18456d;
  margin-top: 8px;
  text-align: center;
  font-weight: bold;
  margin-left: 0;
  margin-right: 0;
}
/* line 121, ../../sass/pageDetails/_pedido.sass */
#pedidosList li a {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 101px;
  font-size: 12px;
  color: #18456d;
  margin-top: 8px;
  text-align: center;
  font-weight: bold;
  margin-left: 0;
  margin-right: 0;
}

/* line 2, ../../sass/_lists.sass */
.simpleList li {
  border-bottom: 1px #999999 dotted;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 195px;
}
/* line 6, ../../sass/_lists.sass */
.simpleList li a {
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: "Cabin", Arial;
  color: #666666;
  text-decoration: none;
  display: block;
  font-size: 12px;
  padding-left: 35px;
  background-image: url(/images/pointer_simpleList.png);
  background-repeat: no-repeat;
  background-position: center left;
}
/* line 18, ../../sass/_lists.sass */
.simpleList li:hover {
  color: #a82d2d;
}

/* line 21, ../../sass/_lists.sass */
ul#catalog_product_list {
  overflow: hidden;
  *zoom: 1;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0%, #666666), color-stop(100%, #b3b3b3));
  background-image: -moz-linear-gradient(bottom, #666666 0%, #b3b3b3 100%);
  background-image: linear-gradient(bottom, #666666 0%, #b3b3b3 100%);
  margin-top: 4px;
  padding: 20px;
  padding-top: 5px;
  padding-left: 0px;
}
/* line 28, ../../sass/_lists.sass */
ul#catalog_product_list li {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 276px;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(0%, #ffffff), color-stop(100%, #e9e9ea));
  background-image: -moz-linear-gradient(left, #ffffff 0%, #e9e9ea 100%);
  background-image: linear-gradient(left, #ffffff 0%, #e9e9ea 100%);
  margin-top: 8px;
  margin-left: 0;
  margin-right: 0;
  margin-left: 20px;
}
/* line 12, ../../sass/_custom.sass */
ul#catalog_product_list li .body {
  min-height: 50px;
}
/* line 14, ../../sass/_custom.sass */
ul#catalog_product_list li .body a.nombre {
  display: block;
  color: #18456d;
  font-size: 11px;
  padding-top: 9px;
  padding-left: 9px;
  text-decoration: none;
}
/* line 22, ../../sass/_custom.sass */
ul#catalog_product_list li .footer {
  display: block;
  color: white;
  padding: 4px;
  padding-left: 9px;
  font-size: 11px;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(0%, #1a1a1a), color-stop(100%, #333334));
  background-image: -moz-linear-gradient(left, #1a1a1a 0%, #333334 100%);
  background-image: linear-gradient(left, #1a1a1a 0%, #333334 100%);
}

/* line 32, ../../sass/_lists.sass */
ul#cart_product_list li {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 456px;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(0%, #ffffff), color-stop(100%, #e9e9ea));
  background-image: -moz-linear-gradient(left, #ffffff 0%, #e9e9ea 100%);
  background-image: linear-gradient(left, #ffffff 0%, #e9e9ea 100%);
  margin-top: 8px;
  margin-left: 0;
  margin-right: 0;
}
/* line 12, ../../sass/_custom.sass */
ul#cart_product_list li .body {
  min-height: 50;
}
/* line 14, ../../sass/_custom.sass */
ul#cart_product_list li .body a.nombre {
  display: block;
  color: #18456d;
  font-size: 11px;
  padding-top: 9px;
  padding-left: 9px;
  text-decoration: none;
}
/* line 22, ../../sass/_custom.sass */
ul#cart_product_list li .footer {
  display: block;
  color: white;
  padding: 4px;
  padding-left: 9px;
  font-size: 11px;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(0%, #1a1a1a), color-stop(100%, #333334));
  background-image: -moz-linear-gradient(left, #1a1a1a 0%, #333334 100%);
  background-image: linear-gradient(left, #1a1a1a 0%, #333334 100%);
}

/* line 34, ../../sass/_lists.sass */
ul#search_product_list {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 216px;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(0%, #ffffff), color-stop(100%, #e9e9ea));
  background-image: -moz-linear-gradient(left, #ffffff 0%, #e9e9ea 100%);
  background-image: linear-gradient(left, #ffffff 0%, #e9e9ea 100%);
  margin-top: 8px;
  margin-left: 0;
  margin-right: 0;
}
/* line 12, ../../sass/_custom.sass */
ul#search_product_list .body {
  min-height: 50;
}
/* line 14, ../../sass/_custom.sass */
ul#search_product_list .body a.nombre {
  display: block;
  color: #18456d;
  font-size: 11px;
  padding-top: 9px;
  padding-left: 9px;
  text-decoration: none;
}
/* line 22, ../../sass/_custom.sass */
ul#search_product_list .footer {
  display: block;
  color: white;
  padding: 4px;
  padding-left: 9px;
  font-size: 11px;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(0%, #1a1a1a), color-stop(100%, #333334));
  background-image: -moz-linear-gradient(left, #1a1a1a 0%, #333334 100%);
  background-image: linear-gradient(left, #1a1a1a 0%, #333334 100%);
}

/* line 3, ../../sass/grid.sass */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  overflow: hidden;
  *zoom: 1;
}
/* line 7, ../../sass/grid.sass */
.container #nav, .container #header, .container #content, .container #footer {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  overflow: hidden;
  *zoom: 1;
}

/* line 12, ../../sass/grid.sass */
#content {
  background-color: white;
  background-image: url(/images/background_page.png);
  min-height: 450px;
  padding-bottom: 25px;
  width: 100%;
  overflow: hidden;
}
/* line 20, ../../sass/grid.sass */
#content .contentBox {
  border: 1px solid #999999;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
  padding: 15px;
  margin-top: 25px;
  background-color: white;
  overflow: hidden;
  *zoom: 1;
}
/* line 28, ../../sass/grid.sass */
#content .contentBox .layout_half {
  overflow: hidden;
  *zoom: 1;
}
/* line 30, ../../sass/grid.sass */
#content .contentBox .layout_half .col {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 444px;
}
/* line 34, ../../sass/grid.sass */
#content .contentBox .layout_third {
  overflow: hidden;
  *zoom: 1;
}
/* line 36, ../../sass/grid.sass */
#content .contentBox .layout_third .left {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 217px;
  margin-left: 0;
}
/* line 40, ../../sass/grid.sass */
#content .contentBox .layout_third .leftLarge {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 337px;
}
/* line 43, ../../sass/grid.sass */
#content .contentBox .layout_third .center {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 510px;
}
/* line 46, ../../sass/grid.sass */
#content .contentBox .layout_third .centerSmall {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 380px;
}
/* line 49, ../../sass/grid.sass */
#content .contentBox .layout_third .right {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 157px;
  margin-right: 0;
}
/* line 54, ../../sass/grid.sass */
#content .contentBox .contentFooter {
  border-top: 5px solid #999999;
  margin-top: 10px;
}

/* line 58, ../../sass/grid.sass */
#footer {
  background-color: #18456d;
}
/* line 60, ../../sass/grid.sass */
#footer #logo {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 236px;
}
/* line 62, ../../sass/grid.sass */
#footer #logo img {
  padding: 15px 15px 0px 0px;
}
/* line 64, ../../sass/grid.sass */
#footer #contacto {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 332px;
  text-align: right;
}
/* line 67, ../../sass/grid.sass */
#footer #contacto span {
  display: block;
  margin-top: 30px;
  border-right: #3c6b8e 1px solid;
  font-size: 30px;
  color: white;
  padding-right: 8px;
}
/* line 74, ../../sass/grid.sass */
#footer #smallnav {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 332px;
}

/* line 76, ../../sass/grid.sass */
#copywrite {
  background-color: #a82d2d;
  height: 20px;
}
/* line 79, ../../sass/grid.sass */
#copywrite p {
  color: white;
  font-size: 10px;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 764px;
  padding-top: 4px;
}
/* line 86, ../../sass/grid.sass */
#copywrite .notification {
  background-color: #696969;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 91, ../../sass/grid.sass */
#copywrite .notification p {
  padding: 15px;
  font-size: 11px;
  color: #333333;
  font-family: "Cabin", Arial;
}
