/* line 14, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, ../../views/css/modules/_footer.sass */
#footer {
  background-color: #18456d;
  height: 55px;
}
/* line 4, ../../views/css/modules/_footer.sass */
#footer #logo {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 236px;
}
/* line 6, ../../views/css/modules/_footer.sass */
#footer #contacto {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 236px;
}
/* line 8, ../../views/css/modules/_footer.sass */
#footer #nav {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 284px;
}

/* line 10, ../../views/css/modules/_footer.sass */
#copywrite {
  background-color: #a82d2d;
  height: 20px;
}
/* line 13, ../../views/css/modules/_footer.sass */
#copywrite p {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 764px;
}

/* line 4, ../../views/css/modules/_nav.sass */
#nav li {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 154px;
  margin-left: 0;
  margin-right: 0;
  margin-right: 2px;
  text-align: center;
  height: 35px;
  padding-bottom: 5px;
  margin-bottom: 3px;
  background-color: white;
  border-bottom: 4px #18456d solid;
}
/* line 16, ../../views/css/modules/_nav.sass */
#nav li.last {
  margin-right: 0px;
}
/* line 18, ../../views/css/modules/_nav.sass */
#nav li a {
  text-align: center;
  color: white;
  background-color: #18456d;
  padding-top: 13px;
  padding-bottom: 10px;
  display: block;
  margin-bottom: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 2, ../../views/css/modules/_header.sass */
#header div.image {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 380px;
  margin-top: 15px;
}
/* line 5, ../../views/css/modules/_header.sass */
#header div.content {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 380px;
}
/* line 7, ../../views/css/modules/_header.sass */
#header div.content h2 {
  margin-top: 45px;
  font-family: "Cabin", Arial;
  font-weight: 400;
  font-size: 19px;
  color: #393a3a;
  margin-left: 20px;
  width: 500px;
  letter-spacing: 0.2em;
}
/* line 16, ../../views/css/modules/_header.sass */
#header div.content h3 {
  color: #393a3a;
  font-family: "Cabin", Arial;
  font-size: 20px;
  margin-top: 10px;
  border-top: 1px solid #393a3a;
  border-bottom: 1px solid #393a3a;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: 400;
  margin-left: 20px;
  width: 500px;
}

/* line 29, ../../views/css/modules/_header.sass */
#header.small div.image {
  margin-top: 8px;
}
/* line 31, ../../views/css/modules/_header.sass */
#header.small div.image img {
  width: 260px;
  height: 100px;
}
/* line 35, ../../views/css/modules/_header.sass */
#header.small div.content h2 {
  font-size: 15px;
  margin-top: 20px;
}
/* line 38, ../../views/css/modules/_header.sass */
#header.small div.content h3 {
  font-size: 12px;
}

/* line 1, ../../views/css/modules/_content.sass */
#content {
  background-color: white;
  background-image: url(/images/background_page.png);
  min-height: 450px;
  padding-bottom: 25px;
  width: 100%;
  overflow: hidden;
}
/* line 8, ../../views/css/modules/_content.sass */
#content .contentBox {
  border: 1px solid #999999;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
  padding: 15px;
  margin-top: 25px;
  background-color: white;
  overflow: hidden;
  *zoom: 1;
}
/* line 15, ../../views/css/modules/_content.sass */
#content .contentBox h2.title {
  color: #393a3a;
  font-family: "Cabin", Arial;
  font-size: 38px;
  border-bottom: 9px solid #a82d2d;
  margin-bottom: 5px;
}
/* line 21, ../../views/css/modules/_content.sass */
#content .contentBox h3.title {
  margin-top: 10px;
  color: #666666;
  font-family: "Cabin", Arial;
  font-size: 25px;
  border-bottom: 5px solid #999999;
  margin-bottom: 5px;
}
/* line 29, ../../views/css/modules/_content.sass */
#content .contentBox .colHolder {
  overflow: hidden;
  *zoom: 1;
}
/* line 31, ../../views/css/modules/_content.sass */
#content .contentBox .colHolder .col3 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 289px;
}
/* line 34, ../../views/css/modules/_content.sass */
#content .contentBox .colHolder .col2 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 444px;
}
/* line 38, ../../views/css/modules/_content.sass */
#content .contentBox .contentFooter {
  border-top: 5px solid #999999;
  margin-top: 10px;
}
/* line 41, ../../views/css/modules/_content.sass */
#content .contentBox .contentFooter .button {
  margin-top: 5px;
  background-color: white;
  width: 100px;
  border-bottom: 4px #a82d2d solid;
  text-align: center;
}
/* line 47, ../../views/css/modules/_content.sass */
#content .contentBox .contentFooter .button a {
  padding-left: 8px;
  padding-top: 7px;
  padding-bottom: 4px;
  color: white;
  background-color: #a82d2d;
  margin-bottom: 4px;
  display: block;
  text-decoration: none;
}
/* line 58, ../../views/css/modules/_content.sass */
#content .notification {
  background-color: #696969;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 63, ../../views/css/modules/_content.sass */
#content .notification p {
  padding: 15px;
  font-size: 11px;
  color: #333333;
  font-family: "Cabin", Arial;
}

/* line 1, ../../views/css/pageDetails/_catalogo.sass */
.bigGrid {
  margin-top: 20px;
}
/* line 3, ../../views/css/pageDetails/_catalogo.sass */
.bigGrid > li {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 240px;
  padding: 20px;
  padding-top: 14px;
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: 13px;
  height: 245px;
  background-color: #cccccc;
}
/* line 13, ../../views/css/pageDetails/_catalogo.sass */
.bigGrid > li.last {
  margin-right: 0px;
}
/* line 16, ../../views/css/pageDetails/_catalogo.sass */
.bigGrid > li h3 {
  font-family: "Cabin", Arial;
  color: white;
  font-size: 25px;
  margin-bottom: 5px;
}
/* line 22, ../../views/css/pageDetails/_catalogo.sass */
.bigGrid > li a {
  padding: 10px;
  padding-top: 25px;
  height: 45px;
  font-family: "Cabin", Arial;
  color: white;
  text-decoration: none;
  display: block;
}
/* line 30, ../../views/css/pageDetails/_catalogo.sass */
.bigGrid > li ahover {
  color: #a82d2d;
}
/* line 34, ../../views/css/pageDetails/_catalogo.sass */
.bigGrid li.metalmecanica {
  background-image: url(/images/catalogo_marca_soldadura.jpg);
}
/* line 37, ../../views/css/pageDetails/_catalogo.sass */
.bigGrid li.cerrajeria {
  background-image: url(/images/catalogo_marca_yale.jpg);
}
/* line 40, ../../views/css/pageDetails/_catalogo.sass */
.bigGrid li.electrico {
  background-image: url(/images/catalogo_marca_electrico.jpg);
}
/* line 43, ../../views/css/pageDetails/_catalogo.sass */
.bigGrid li.ferreteria {
  background-image: url(/images/catalogo_marca_ferreteria.jpg);
}
/* line 46, ../../views/css/pageDetails/_catalogo.sass */
.bigGrid li.maderas {
  background-image: url(/images/catalogo_marca_madera.jpg);
}
/* line 49, ../../views/css/pageDetails/_catalogo.sass */
.bigGrid ul {
  margin-top: 50px;
}
/* line 51, ../../views/css/pageDetails/_catalogo.sass */
.bigGrid li {
  color: white;
  text-decoration: none;
  font-family: "Cabin", Arial;
}

/* line 2, ../../views/css/pageDetails/_enLinea.sass */
.enLineaInfo p {
  margin-top: 8px;
}

/* line 2, ../../views/css/_lists.sass */
.simpleList li {
  border-bottom: 1px #999999 dotted;
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 195px;
}
/* line 6, ../../views/css/_lists.sass */
.simpleList li a {
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: "Cabin", Arial;
  color: #666666;
  text-decoration: none;
  display: block;
  font-size: 12px;
  padding-left: 35px;
  background-image: url(/images/pointer_simpleList.png);
  background-repeat: no-repeat;
  background-position: center left;
}
/* line 18, ../../views/css/_lists.sass */
.simpleList li:hover {
  color: #a82d2d;
}

/* line 3, ../../views/css/grid.sass */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  overflow: hidden;
  *zoom: 1;
}
/* line 7, ../../views/css/grid.sass */
.container #nav, .container #header, .container #content, .container #footer {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 940px;
  overflow: hidden;
  *zoom: 1;
}
