#clientesList
	margin-top: 14px
	li
		+grid-unit-base 
		+grid-width(4,-40px)
		+linear-gradient(color-stops(#FFFFFF, #E9E9EA))
		height: 45px
		border: $blue
		padding: 15px
		border: 1px solid #333
		margin-bottom: 15px
		a
			font-size: 12px
			color: $blue
			text-decoration: none
			
#productosList
	margin-top: 9px
	li
		+grid-unit-base 
		+grid-width(4,-10px)
		+linear-gradient(color-stops(#FFFFFF, #E9E9EA))
		padding: 6px
		border: 1px solid #333
		margin-bottom: 10px
		+alpha
		+omega
		a
			font-size: 12px
			color: $blue
			text-decoration: none
			display: block
			margin-bottom: 4px
		.half
			padding-top: 4px
			+grid-unit-base 
			+grid-width(1,20px)
			font-size: 11px
			+alpha
			